# Emacs backups and auto-save files
*~
\#*\#
.\#*

# Downloaded packages and generated native code
/elpa/
/eln-cache/
/tree-sitter/

# Runtime state
/auto-save-list/
/.cache/
/bookmarks
/dape-breakpoints
/eshell/history
/history
/places
/network-security.eld
/places.eld
/projectile-bookmarks.eld
/projectile-frecency.eld
/projects
/projects.eld
/recentf
/recentf.eld
/tramp
/transient/